@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: none;
}

.container{
    font-family: 'Roboto', sans-serif;
}

.cor {
    background-color:#d8faf2 ;
}

.coret{
    background-color:  #b5efe2;
}